<template>
  <h2 class="font-semibold text-xl text-gray-800 leading-tight">
    Cadastro
  </h2>
  
  <div class="py-12">
    <div class="mas-w-7x1 mx-aut sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-x1 sm:rounded-lg">
        <form submit.prevent="submitForm" name="cadastro" id="cadastro">
          <div class="grid grid-cols-1 md:grid-cols-2 md:gap-3 p-4 sm:p-8">
            <div class="w-full mb-3">
              <label for="name" class="font-semibold py-2">Nome</label>
                <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" v-model="formulario.name" type="text"  name="name" id="name" placeholder="Aleneilson Fagundes" required>
                  {{formulario.name}}
                  <br>
                <label for="cpf" class="font-semibold py-2">CPF</label>
                <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" v-model="formulario.cpf" type="text"  name="cpf" id="cpf" placeholder="999.999.999.99" required>
                  {{formulario.cpf}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default ({
  data(){
    return {
      formulario: {
        name:"",
        cpf:""
      }
    }
  }
})
</script>


